history-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 92px;
  position: relative;
}

.history-panel-fixer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 38px;
  background-color: var(--primary1);
  left: 0;
}

history-panel {
  display: flex;
  top: 0;
  width: 904px;
  height: 76px;
  padding: 16px 0;
  background-color: var(--off-white);
  border: 1px solid var(--place-holder);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 auto;
}

history-panel > form {
  display: flex;
  width: 100%;
  padding-left: 8px;
}

.history-input-box {
  width: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--place-holder);
  padding: 0 24px;
  position: relative;
}
.history-input-box:first-child {
  width: 124px;
}
.history-input-box.cash {
  border: none;
  width: 220px;
}

.history-input-box.context {
  width: 200px;
}

history-panel .check-box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary1);
  border-radius: 10px;
}

history-panel .check-box svg {
  width: 80%;
  height: 80%;
}

history-panel .check-box > svg path {
  stroke: var(--primary1);
}

history-panel .check-box > svg#pencil path {
  fill: var(--primary1);
}

history-panel button {
  color: var(--label);
  font: var(--body-regular);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

history-panel button.selected {
  color: var(--title-active);
}

history-panel .dropdown {
  width: 148px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% + 24px);
  background-color: var(--off-white);
  border: 1px solid var(--line);
  border-radius: 10px;
  overflow: hidden;
}

history-panel .dropdown > div {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  cursor: pointer;
}

history-panel .dropdown > div:hover {
  background-color: var(--background);
}

history-panel .dropdown .content {
  border-bottom: 1px solid var(--line);
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
  justify-content: space-between;
}

history-panel .dropdown .payment-item {
  position: relative;
}

history-panel .dropdown #edit {
  position: absolute;
  right: 14px;
}

history-panel .dropdown #edit svg {
  pointer-events: none;
}

history-panel .dropdown .content svg {
  height: 20px;
  width: 20px;
}

history-panel .dropdown > :last-child .content {
  border: none;
}

.history-input-box label {
  font: var(--bold-small);
  color: var(--primary3);
  width: 100%;
  background-color: inherit;
}

.history-input-box input {
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
}

.history-input-box input::placeholder {
  color: var(--place-holder);
}

input[type='date'] {
  position: relative;
}
input[type='date']::-webkit-clear-button,
input[type='date']::-webkit-inner-spin-button {
  display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: -100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type='date']::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}

.history-input-box.cash .cost-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cost-content > input {
  text-align: right;
  padding-left: 10px;
}

#toggle-payType-btn {
  border: 2px solid var(--primary3);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  font: var(--bold-medium);
  color: var(--title-active);
  width: 6em;
  height: 2em;
  position: relative;
  overflow: hidden;
}

#toggle-payType-btn .income {
  display: inline-block;
  position: absolute;
  animation-duration: 0.4s;
  animation-name: payType-slide;
  width: 100%;
}

#toggle-payType-btn.default .income {
  display: none;
}

#toggle-payType-btn .expenditure {
  display: none;
}

#toggle-payType-btn.default .expenditure {
  display: inline-block;
  position: absolute;
  animation-duration: 0.4s;
  animation-name: payType-slide;
  width: 100%;
}

@keyframes payType-slide {
  from {
    left: 100%;
    transform: translateX(0);
  }

  to {
    left: 50%;
    transform: translateX(-50%);
  }
}

history-content {
  width: 100%;
  max-width: 904px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto;
}

history-statistics {
  width: 100%;
  max-width: 848px;
  margin: 38px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

history-statistics .left {
  width: 100%;
  font: var(--body-large);
  color: var(--primary3);
}

history-statistics .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

history-statistics .right button {
  width: 40px;
  height: 40px;
}

history-statistics .right {
  font: var(--body-medium);
  color: var(--label);
}

history-statistics .right div.active {
  color: var(--primary3);
}

history-statistics .right > div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

add-payment,
edit-payment,
result-view {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
}

add-payment .top,
edit-payment .top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

add-payment .top label,
edit-payment .top label {
  font: var(--body-medium);
  color: var(--title-active);
}

add-payment .top input,
edit-payment .top input {
  margin-top: 24px;
  background: var(--background);
  border: 1px solid var(--line);
  width: 100%;
  height: 42px;
  border-radius: 10px;
  padding: 10px;
  font: var(--body-medium);
  outline: none;
}

add-payment .bottom,
edit-payment .bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

add-payment .bottom button,
edit-payment .bottom button {
  font: var(--body-medium);
}

add-payment .bottom #submit-btn,
edit-payment .bottom #submit-btn {
  color: var(--primary3);
}

edit-payment .bottom #delete-btn {
  color: var(--error);
}

result-view h1 {
  font: var(--display-large);
}
result-view button {
  margin-top: 30px;
  color: var(--primary1);
  font: var(--display-small);
  width: 100%;
  text-align: center;
}
