history-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 92px;
  position: relative;
}

.history-statics-fixer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 38px;
  background-color: var(--primary1);
  left: 0;
}

history-statics {
  display: flex;
  top: 0;
  width: 904px;
  height: 76px;
  padding: 16px 0;
  background-color: var(--off-white);
  border: 1px solid var(--place-holder);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 auto;
}

history-statics > form {
  display: flex;
  width: 100%;
  padding-left: 8px;
}

.history-input-box {
  width: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--place-holder);
  padding: 0 24px;
}
.history-input-box:first-child {
  width: 124px;
}
.history-input-box.cash {
  border: none;
  width: 194px;
}

.history-input-box.context {
  width: 220px;
}

history-statics .check-box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary1);
  border-radius: 10px;
}

history-statics .check-box > svg > path {
  stroke: var(--primary1);
}

.history-input-box label {
  font: var(--bold-small);
  color: var(--primary3);
  width: 100%;
  background-color: inherit;
}

.history-input-box input {
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
}

.history-input-box input::placeholder {
  color: var(--place-holder);
}

.history-input-box.cash .cost-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cost-content > input {
  text-align: right;
}

history-content {
  width: 100%;
  max-width: 904px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto;
}

.day-records {
  width: 848px;
  display: flex;
  flex-direction: column;
}

.day-records .info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font: var(--bold-medium);
  color: var(--body);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--line);
}

.info .date {
  color: var(--title-active);
}

.record-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.record {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  padding: 0 7px;
  border-bottom: 1px solid var(--line);
}

.record > div {
  width: 100%;
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
}

.category {
  display: flex;
  width: 92px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font: var(--bold-medium);
  color: white;
}

.category.category1 {
  background-color: var(--category1);
}

.record .context {
  width: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--title-active);
  font: var(--body-medium);
  height: fit-content;
}

.record .payment {
  color: var(--body);
  font: var(--body-medium);
  height: fit-content;
}

.record .price {
  color: var(--title-active);
  font: var(--body-medium);
  height: fit-content;
}
